* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Lato';
    font-style: normal;
}
header {
    background: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 859px;
    height: 75px;
}
.image_left {
    display: flex;
    gap: 41px;
    width: 111px;
    height: 38px;
}
.image_right {
    display: flex;
    gap: 33px;
    width: 159px;
    height: 29px;
}
main {
    background: #F1E4E6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.main_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 405px;
    height: 93.1px;
}
.start {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}
.end {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}
span {
    color: #F16D7F;
}
.offer {
    margin-top: 60px;
    display: grid;
    justify-content: center;
    gap: 30px;
}
.item4 {
    grid-column: 1 / 4;
}

.text {
    margin-top: 96px;
    margin-bottom: 48px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}
.text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    gap: 30px;
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}
.product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #F8F8F8;
    gap: 16px;
}
.back img {
    background: #F7E4E2;
    padding-left: 109px;
    padding-right: 109px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.product h2 {
    margin-top: 25px;
    margin-left: 16px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    width: 148.11px;
    height: 16px;
}
.product h3 {
    margin-left: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    width: 314.74px;
    height: 51px;
}
.price {
    margin-left: 16px;
    color: #F16D7F;
    margin-bottom: 20px;
}
button {
    margin: 0 auto;
    display: block;
    color: #F26376;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border-color: #ff6a6a;
    background: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 39px;
    padding-right: 39px;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 60px;
    border: 1px solid #F16D7F;
}

@media(max-width: 1024px) and (min-width: 768px) {
    header {
        gap: 424px;
        height: 74px;
    }
    .main_logo img {
        width: 386px;
        height: 368px;
    }
    .main_text {
        width: 283px;
        height: 78px;
    }
    .start {
        font-size: 44px;
        line-height: 53px;
    }
    .end {
        font-size: 24px;
        line-height: 29px;
    }
    .offer {
        display: grid;
        justify-items: center;
    }

    .offer img {
        max-width: 100%;
    }
    .text {
        margin-top: 110px;
        margin-bottom: 73px;
    }   
    .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 17px;
    }
    .product {
        max-width: 100%;
    }
    .center {
        margin-left: 16px;
        margin-right: 16px;
    }
    .button {
        margin-top: 33px;
        margin-bottom: 71px;
    }
} 

@media(max-width: 767px) and (min-width: 320px) {
    * {
        margin: 0;
        padding: 0;
    }
    header {
        max-width: 100%;
        display: flex;
        justify-content: space-evenly;
        gap: 140px;
    }
    .image_left {
        margin-left: 16px;
    }
    .image_right {
        gap: 16px;
        width: 32px;
        height: 23px;
    }
    .account {
        display: none;
    }
    .basket {
        display: none;
    }
    .main_logo {
        display: none;
    }
    .start {
        font-size: 38px;
        line-height: 46px;
    }
    .end {
        font-size: 20px;
        line-height: 24px;
    }
    .main_text {
        margin-top: 148px;
        margin-bottom: 149px;
        width: 236px;
        height: 66px;
    }
    .offer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
    .offer img {
        max-width: 100%;
        object-fit: none;
    }

    .center {
        margin-left: 16px;
        margin-right: 16px;
    }
    .products {
        display: flex;
        flex-direction: column;
        gap: 17px;
    }
    .product {
        margin-left: 8px;
        margin-right: 8px;
    }
}